<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EDUCATION</title>
  </head>
  <body>
    <h2>EDUCATION AND AFFILIATION</h2>
    <br /><br />
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <div class="p-3">
            <h3>EDUCATION</h3>
            <h5>PRESENT:</h5>
            <h5>
              Bachelor of Science in Information Technology<br />with Area of
              Specialization in Wed Development
            </h5>
            <h6>Holy Angel University</h6>
            <br />
            <h5>2014-2020:</h5>
            <h4>High School</h4>
            <h6>Chevalier School</h6>
            <br />
            <h5>2007-2014</h5>
            <h4>Elementary</h4>
            <h6>Chevalier School</h6>
          </div>
        </div>
        <div class="col">
          <div class="p-3">
            <h3>AFFILIATION</h3>
            <h5>2022-2023:</h5>
            <h4>CODE GEEKS</h4>
            <h6>President</h6>
            <br />
            <h5>2021-2022:</h5>
            <h4>CODE GEEKS</h4>
            <h6>Communication and Records Head</h6>
            <br />
            <h5>2020-2021:</h5>
            <h4>CODE GEEKS</h4>
            <h6>Staff for Academics and Research</h6>
            <br />
          </div>
        </div>
      </div>
    </div>
    <br />
  </body>
</html>
