<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>REFERENCE</h2>
    <div class="grid text-center">
      <div class="g-col-6 g-col-md-4">
        <h4>Jed Miguel Bartolome</h4>
        <h5>Dean</h5>
        <h6>09879479201</h6>
      </div>
      <div class="g-col-6 g-col-md-4">
        <h4>Shem Ardelee Pioleen Baytan</h4>
        <h5>IT Chairperson</h5>
        <h6>09846827401</h6>
      </div>
      <div class="g-col-6 g-col-md-4">
        <h4>Quinny Joyce Ann Lacsina</h4>
        <h5>Professor</h5>
        <h6>0997254312</h6>
      </div>
      <div class="g-col-6 g-col-md-4">
        <h4>Raquel Ann Bondoc</h4>
        <h5>Professor</h5>
        <h6>0987654321</h6>
      </div>
    </div>
  </body>
</html>
