<title>PAGE NOT FOUND</title>

<div class="clearfix">
  <img
    src="https://media.tenor.com/mUdZ5TBhBDYAAAAi/sanrio-kuromi.gif"
    class="col-md-6 float-md-end mb-3 ms-md-3"
    alt="lostpage"
  />
  <!--NG STYLE-->
  <h1 id="header" [style.color]="headColor">PAGE NOT FOUND</h1>
  <hr />
  <br />
  <!--NG IF AND NG FOR-->
  <ng-template [ngIf]="showItem">
    <p *ngFor="let item of elements">
      {{ item }}
    </p>
  </ng-template>
  <button (click)="onButtonClick()">Email Me!</button>
  <p>{{ message }}</p>
</div>
