<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SKILLS</title>
  </head>
  <body>
    <h2>PROGRAM SKILLS</h2>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="progress green">
            <h3 class="progress-title">HTML5</h3>
            <div class="progress-bar" style="width:85%; background:#21da9a;">
              <div class="progress-value">85%</div>
            </div>
          </div>

          <div class="progress pink">
            <h3 class="progress-title">CSS3</h3>
            <div class="progress-bar" style="width:80%; background:#ff1170;">
              <div class="progress-value">80%</div>
            </div>
          </div>

          <div class="progress blue">
            <h3 class="progress-title">Java</h3>
            <div class="progress-bar" style="width:65%; background:#294bdc;">
              <div class="progress-value">65%</div>
            </div>
          </div>

          <div class="progress yellow">
            <h3 class="progress-title">Python</h3>
            <div class="progress-bar" style="width:50%; background:#ffa900;">
              <div class="progress-value">5-%</div>
            </div>
          </div>

          <div class="progress brown">
            <h3 class="progress-title">JavaScript</h3>
            <div class="progress-bar" style="width:35%; background:#3C2A21;">
              <div class="progress-value">35%</div>
            </div>
          </div>

          <div class="progress orange">
            <h3 class="progress-title">WordPress</h3>
            <div class="progress-bar" style="width:80%; background:#FF6E31;">
              <div class="progress-value">80%</div>
            </div>
          </div>

          <div class="progress violet">
            <h3 class="progress-title">Squarespace</h3>
            <div class="progress-bar" style="width:77%; background:#301E67;">
              <div class="progress-value">77%</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
