<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ANGULAR</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<img
  src="https://stackblitz.com/files/cv-2135-ksor-1/github/kishannen/2135-cv-ksor-activity/main/src/assets/Banner.png"
  class="img-fluid"
  alt="banner_image"
/>
<br /><br />

<hello name="{{ name }}"></hello>
<hr />
<app-about></app-about>
<hr />
<app-education></app-education>
<hr />
<app-skills></app-skills>
<hr />
<app-achievement></app-achievement>
<hr />
<app-references></app-references>
