p {
  font-family: Lato;
}
.container-fluid {
  font-weight: bolder;
  background-color: #f9a03f;
  padding: 10px;
  height: 100px;
  margin: -1%;
  width: 100.95%;
}
.nav-item {
  margin-top: 17px;
}
.navbar-brand {
  padding-left: 10px;
}
