<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ACHIEVEMENT</title>
  </head>
  <body>
    <h2>OTHER INFORMATION</h2>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            SKILLS ATTRIBUTE
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse show"
          aria-labelledby="headingOne"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <ul>
              <li>
                <h4>Flexible and always willing to learn.</h4>
              </li>
              <li>
                <h4>Good Interpersonal and Communication skills</h4>
              </li>
              <li>
                <h4>Attention to Details</h4>
              </li>
              <li>
                <h4>
                  Proficient in using softwares such as Microsoft, Adobe
                  Photoshop, Wondershare Filmora and Programming
                </h4>
              </li>
              <li>
                <h4>Leadership skills</h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            AWARDS AND RECOGNITION
          </button>
        </h2>
        <div
          id="collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <ul>
              <li>
                <h5>2021-2022:</h5>
                <h4>President's Lister</h4>
                <h4>Second Year, Second Semester</h4>
              </li>
              <li>
                <h5>2020-2021:</h5>
                <h4>President's Lister</h4>
                <h4>Second Year, First Semester</h4>
              </li>
              <li>
                <h5>2020-2021:</h5>
                <h4>President's Lister</h4>
                <h4>First Year, Second Semester</h4>
              </li>
              <li>
                <h5>2020-2021:</h5>
                <h4>President's Lister</h4>
                <h4>First Year, First Semester</h4>
              </li>
              <li>
                <h5>2020-2021:</h5>
                <h4>Academic Scholar</h4>
                <h4>First Year, First Semester</h4>
              </li>
              <li>
                <h5>2019-2020:</h5>
                <h4>With High Honors</h4>
                <h4>High School, Chevalier School</h4>
              </li>
              <li>
                <h5>2019-2020:</h5>
                <h4>Campus Journalist of the Year</h4>
                <h4>High School, Chevalier School</h4>
              </li>
              <li>
                <h5>2019-2020:</h5>
                <h4>Best in Capstone</h4>
                <h4>High School, Chevalier School</h4>
              </li>
              <li>
                <h5>2019-2020:</h5>
                <h4>National Schools Press Conference</h4>
                <h4>Participant | Tuguegarao City, Cagayan</h4>
              </li>
              <li>
                <h5>2019-2020:</h5>
                <h4>
                  Regional Schools Press Conference: Science and Technology
                  Writing (Filipino)
                </h4>
                <h4>Champion | Tarlac</h4>
              </li>
              <li>
                <h5>2019-2020:</h5>
                <h4>
                  Division Schools Press Conference: Science and Technology
                  Writing (Filipino)
                </h4>
                <h4>1st Runner Up | Angeles City</h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            SEMINARS, TRAININGS, AND CONFERENCE ATTENDED
          </button>
        </h2>
        <div
          id="collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="headingThree"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <ul>
              <li>
                <h5>2022:</h5>
                <h4>
                  Design of the Times: Exemplifying the Beauty of Design through
                  Implementation
                </h4>
                <h4>
                  OPTIMAL PRIME: The Quintessential Guide to a Famed Channel
                </h4>
                <h4>Third Year, First Semester</h4>
              </li>
              <li>
                <h5>2021:</h5>
                <h4>
                  Web Responsiveness: Basics of Building a Responsive Layout
                  using HTML and CSS
                </h4>
                <h4>
                  Into the Web: Learn About the Basics of Web Design Using HTML
                  and CSS
                </h4>
                <h4>How to Improve Your Well-being</h4>
                <h4>Second Year, First Semester</h4>
              </li>
              <li>
                <h5>2021:</h5>
                <h4>
                  CAANTABE Series Episode 1: Division Webinar on Proper Use of
                  Technology for the Learners (Speaker)
                </h4>
                <h4>First Year, Second Semester</h4>
              </li>
              <li>
                <h5>2020:</h5>
                <h4>The Basic of Visual: A Guide to Getting Started in UI</h4>
                <h4>First Year, First Semester</h4>
              </li>
              <li>
                <h5>2020:</h5>
                <h4>
                  ISOG I AM SECURE 20/20 TECHNICAL TRAINING: Trend Micro Cyber
                  Security Fundamentals - Trend Micro Careers Philippines
                </h4>
                <h4>First Year, First Semester</h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
